<p>
    <mat-toolbar>
      <span>Selamat Datang</span>
      <span class="jarak-tombol">
          <button mat-raised-button color="accent" routerLink="contact">Contact</button>
      </span>
    </mat-toolbar>
</p>

<body>
    <h1>Hello World</h1>

    <p>Title: {{ title }}</p>
    <p>Author: {{ author }}</p>
    <p>Penjumlahan 10 + 5 = {{ 10+5 }}</p>
    <p>{{ message() }}</p>

    <app-about></app-about>

    <div class="mat-body">
        Ini adalah teks
    </div>

    <button mat-raised-button color="primary">Submit</button>

    <app-data [copyright] = "copyright"></app-data>

    <router-outlet></router-outlet>
</body>